<h1>STUPID COACHING</h1>
<div class="asking">
  <p>Ask your coach anything:</p>
</div>


<form action="answer" method="get">
  <input type="text" name="question" placeholder="type here" value="<%= params[:question] %>">
  <input type="submit" value="Ask!">
</form>

